In [1]:
import pandas as pd
import numpy as np

In [2]:
genome_scores = pd.read_csv('../data/raw_data/genome-scores.csv')
genome_scores.head()

   movieId  tagId  relevance
0        1      1    0.02500
1        1      2    0.02500
2        1      3    0.05775
3        1      4    0.09675
4        1      5    0.14675

In [3]:
genome_scores.shape
genome_scores.info()

<class 'pandas.DataFrame'>
RangeIndex: 11709768 entries, 0 to 11709767
Data columns (total 3 columns):
 #   Column     Dtype
---  ------     -----
 0   movieId    int64
 1   tagId      int64
 2   relevance  float64
dtypes: float64(1), int64(2)
memory usage: 268.0 MB

In [4]:
genome_scores.isna().sum()

movieId      0
tagId        0
relevance    0
dtype: int64

In [5]:
genome_scores['relevance'].describe()

count    1.170977e+07
mean     1.164833e-01
std      1.542463e-01
min      2.500000e-04
25%      2.425000e-02
50%      5.650000e-02
75%      1.415000e-01
max      1.000000e+00
Name: relevance, dtype: float64

In [6]:
assert genome_scores["relevance"].between(0, 1).all(), \
    "Invalid relevance scores detected"
#Safety check to ensure all relevance scores are between 0 and 1

**Validate uniqueness of movieId-TagId pair**

In [7]:
genome_scores.duplicated(
    subset=["movieId", "tagId"]
).sum()

np.int64(0)

**Checking movie and tag sanity**

In [8]:
genome_scores["movieId"].nunique()

10381

In [9]:
genome_scores["tagId"].nunique()

1128

**Density assumption**

In [10]:
genome_scores.groupby("movieId")["tagId"].count().describe()

count    10381.0
mean      1128.0
std          0.0
min       1128.0
25%       1128.0
50%       1128.0
75%       1128.0
max       1128.0
Name: tagId, dtype: float64

In [11]:
genome_scores.to_csv(
    "../data/cleaned_data/genome_scores_clean.csv",
    index=False
)