In [1]:
import pandas as pd
import numpy as np

movies = pd.read_csv('../data/raw_data/movies.csv')

In [2]:
movies.head()
movies.shape
movies.info()

<class 'pandas.DataFrame'>
RangeIndex: 27278 entries, 0 to 27277
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   movieId  27278 non-null  int64
 1   title    27278 non-null  str
 2   genres   27278 non-null  str
dtypes: int64(1), str(2)
memory usage: 639.5 KB

In [3]:
movies.isna().sum()

movieId    0
title      0
genres     0
dtype: int64

In [4]:
movies["movieId"].duplicated().sum()

np.int64(0)

In [6]:
#Extracting release year from title
movies["release_year"] = (
    movies["title"]
    .str.extract(r"\((\d{4})\)")
    .astype("float")
)

In [7]:
movies["release_year"].describe()

count    27256.000000
mean      1989.371551
std         23.335631
min       1891.000000
25%       1976.000000
50%       1998.000000
75%       2008.000000
max       2015.000000
Name: release_year, dtype: float64

In [8]:
movies["clean_title"] = (
    movies["title"]
    .str.replace(r"\s*\(\d{4}\)", "", regex=True)
)

In [9]:
movies["genre_list"] = movies["genres"].str.split("|")

In [10]:
movies["genre_list"].apply(
    lambda x: "(no genres listed)" in x
).sum()

np.int64(246)

In [11]:
movies_genres = movies.explode("genre_list")

movies_genres = movies_genres[
    movies_genres["genre_list"] != "(no genres listed)"
]

In [12]:
movies_genres["genre_list"].value_counts().head(10)

genre_list
Drama          13344
Comedy          8374
Thriller        4178
Romance         4127
Action          3520
Crime           2939
Horror          2611
Documentary     2471
Adventure       2329
Sci-Fi          1743
Name: count, dtype: int64

In [ ]:
movies.to_csv("../data/cleaned_data/movies_clean.csv", index=False)
movies_genres.to_csv("../data/cleaned_data/movies_genres_clean.csv", index=False)